.btn-all{
    display: inline-block;
}
.btn-all .btn-now {
  color: white;
  padding: 13px 26px;
  background-color: #6f1e31;
  
}
.btn-now:hover {
    background-color: #fff;
  color: #6f1e31;
  transition: 0.5s ease-in-out;
  /* box-shadow: 1px 1px 1px 1px #d08496 ; */
  border: 2px solid #6f1e31;
  transform: scale(1.1);
}
