.part2 {
  background: url("../../assets/11.jpg") center no-repeat;
  background-size: cover;
  height: 400px;
max-width: 100%;
}
.part2-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.part2-body h2{
    margin-top: 60px;
    font-size: 35px;
    color: rgb(144, 42, 42);
    width: auto;
  margin-left: 400px;
  margin-right: 400px;
  
}
@media (max-width:1400px) {
    .part2-body h2{
    margin-left: 10px;
    margin-right: 10px;
    }
}
.part2-body p{
  text-align: center;
  
}
.part2-body .btn-w{
    background-color: rgb(88, 34, 34);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: none;
    padding:8px 20px 8px 20px;

}
.part2-body .btn-w:hover{
    background-color: beige;
    border: 2px solid rgb(88, 37, 34);
    color: black;
    transition: .5s ease-in-out;

}
.part2-body .btn-w a{
    text-decoration: none;
    color: rgb(255, 240, 240);
}
.part2-body .btn-w a:hover{
    color: black;
}